@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,400&display=swap");
@import "reset.css";

@import "index.css";
@import "variables.css";
@import "styles.css";
@import "friends.css";
@import "chats.css";
@import "find.css";
@import "more.css";
@import "setting.css";
@import "chat.css";

@import "status-bar.css";
@import "nav.css";
@import "friends-bar.css";
@import "notice.css";
@import "no-mob.css";

body {
  background-color: #f3f5f0;
  font-family: "Karla", sans-serif;
  margin: 0;
  margin-bottom: 100px;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}
